@charset "UTF-8";

.container {
    width: 1080px;
}

.container2 {
    width: 500px;
    margin: 0 auto;
}


footer {
    text-align: center;
    background-color: navy;
    color: white;
}


.toolbar {
	margin: 3px 0px;
}








