a {
	text-decoration: none;
}

.mdl-card {
	overflow: visible;
	background-color: #4c9cef;
}

.grecaptcha-logo {
	background-color: white;
}

.mdl-grid {
	max-width: 1024px;
	margin: auto;
}	

.mdl-layout__header-row {
	padding: 0;
}

.quickstart-user-details-container, .user-details-container {
	margin-top: 20px;
	line-height: 25px;
}

#quickstart-sign-in-status, #sign-in-status {
	font-weight: bold;
}

pre {
	overflow-x: scroll;
	line-height: 18px;
}

code {
	white-space: pre-wrap;
	word-break: break-all;
}

h3 {
	background: url('firebase-logo.png') no-repeat;
	background-size: 40px;
	padding-left: 50px;
	color: white;
}

#verification-code-form {
	display: none;
}

#recaptcha-container {
	margin-top: 10px;
	margin-bottom: 20px;
}

#verify-code-button, #cancel-verify-code-button {
	margin-left: 20px;
}

#sign-out-button {
	display: none;
}

#sign-in-card {
	z-index: 2;
}